apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: jenkins-ingress-volume
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /

spec:
  rules:
  - host: jenkins.kube.volum
    http:
      paths:
      - path: /
        backend:
          serviceName: jenkins-volume
          servicePort: 8081
