{
    "user {{ user_name }}": {
    	"username": "{{ user_name }}",
    	"usergroup": "{{ user_group }}",
    	"user_id": "{{ user_id }}",
    	"group_id": "{{ group_id }}",
    	"sudoers": "{{ sudoers }}",
    	"home": "{{ user_home }}"
    }
}